# Security related files that the github ignore's while syncing
src/config.js
.env
ID.md
autoupdate.sh
node_modules/*
.npm/*
package-lock.json
src/functions/profanityData.json
src/functions/profanityFilter.js