# Security related files that the github ignore's while syncing

# Node modules
node_modules/*
.npm/*
package-lock.json
package.json

# Config
src/config.js

# ENV
.env

# Computer only files
ID.md

# Auto update script
autoupdate.sh